.contenedor-principal{
    display: flex;
}

.contenedor-2{
    min-width: 1200px;
    width: 120%;
    display: flex;
    background-color: #100E1D;
    flex-direction: column;
}
.min-temp{
    color: #A09FB1;
}

.contenedor-3{
    display: flex;
    flex-wrap:wrap;
    margin-left: 40px;
    width: 100%;
}

.mini-conter-3{
    background-color: #1E213A;
    width: 300px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.mini-conter-3 *{
    font-size: 18px ;
}
.mini-conter-3 p{
    font-size: 64px ;
}

.contenedor-2_1{
 display: flex;
 width: 100%;
}

.h1-principal{
    font-size: 24px;
    margin: 50px;
}